.appointments {
    padding: 20px;
    .request-details-container{
        display: flex; width: 100%; justify-content: space-between;
    }
    .request-details-info {
        display: flex; flex-direction: column
    }
    .flex {
        display: flex;
    }
}